.content{
  flex-basis: 80%;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.leaflet-popup {
  margin-left: 13px;
}

.leaflet-popup-content:after {
  content: '';
  display: block;
  clear: both;
}

.sensor-popup .leaflet-popup-content{
  min-width: 250px;
}
